.films-container {
    display: flex;
    flex-wrap: wrap;
    margin: 3em 3em;
    justify-content: center;
}

.films {
    margin: 2.5em 1em;
    width: 20em;
    background-color:  #007f5f;
    border-radius: 1em;
    height: 18em;
}

.films:hover {
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
}

.films-inner {
    padding: 1em 1em;
    text-align: center;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}

.director {
    font-size: 1.2em;
}